.cursor-star {
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    pointer-events: none;
    animation: fadeOut 0.9s linear forwards;
    z-index: 10000;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(0) translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: scale(1.3) translate(var(--tx), var(--ty));
    }
}

@font-face {
    font-family: firaCodeFont;
    src: url(FiraCode-Regular.woff);
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

body {
    background-color: #000;
}

html, body {
    overflow-x: hidden 
}

.row {
    padding: 0;
    margin: 0;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
}

#particle-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
}

#scroll-down-indicator {
    top: 90%;
    left: 50%;
    width: 2em;
    opacity: 0;
    height: 3em;
    z-index: 1500;
    position: fixed;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    border: 2.5px solid #000 !important;
    animation: animateScroll 1.5s linear infinite;

}

@keyframes animateScroll {
    0% {
        top: 90%;
    }

    50% {
        top: 91%;
    }

    100% {
        top: 90%;
    }
}

#scroll-down-indicator:before {
    content: "";
    position: absolute;
    width: 0.42em;
    height: 0.42em;
    background: #000;
    margin: auto;
    left: -0.2px;
    right: 0;
    top: 0.5em;
    border-radius: 50%;
    animation: animateBefore 1.3s linear infinite;
}


/* Dynamic Scroll Indicator Color Changing  */
#scroll-down-indicator.white {
    border-color: rgba(223, 223, 223, 0.632) !important;
}

#scroll-down-indicator.white:before {
    background: rgba(223, 223, 223, 0.632) !important;
}

@keyframes animateBefore {
    0% {
        opacity: 1;
        top: 0.5em;
    }

    100% {
        top: 2em;
        transform: scale(0.9);
    }
}

main {
    position: absolute;
    margin: 0px auto;
}


#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/* Projects Carousel */
.icon-cards {
    position: relative;
    width: 50vw;
    height: 70vh;
    margin: 0 auto;
    perspective: 1000px;
    transform-origin: center;
}

.icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 8s infinite cubic-bezier(0.77, 0, 0.275, 1) forwards;
}

.icon-cards__content.step-animation {
    animation: carousel 8s infinite steps(1) forwards;
}

.icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    transform-origin: center;
}

.icon-cards__item > a {
    padding-bottom: 12px;
}

.icon-cards__content img {
    border-radius: 10px !important;
    width: 55vw !important;
    filter: brightness(90%);
    transition: transform .3s;
}

.icon-cards__content img:hover {
    transform: scale(1.15);
    filter: brightness(100%);
}

.icon-cards__item:nth-child(1) {
    transform: rotateY(0) translateZ(35vw);
}

.icon-cards__item:nth-child(2) {
    transform: rotateY(120deg) translateZ(35vw);
}

.icon-cards__item:nth-child(3) {
    transform: rotateY(240deg) translateZ(35vw);
}

@keyframes carousel {

    0%,
    17.5% {
        transform: translateZ(-35vw) rotateY(0);
    }

    27.5%,
    45% {
        transform: translateZ(-35vw) rotateY(-120deg);
    }

    55%,
    72.5% {
        transform: translateZ(-35vw) rotateY(-240deg);
    }

    82.5%,
    100% {
        transform: translateZ(-35vw) rotateY(-360deg);
    }
}

.page {
    height: 100vh !important;
    margin-bottom: 150vh;
    z-index: inherit;
}


/* First Page Section */
.page-1 {
    position: relative;
    height: 100vh !important;
    background-color: #fff !important;
    z-index: 96 !important;
}

.name-heading {
    font-size: 1200%;
    color: #000;
    font-weight: bold;
    padding-top: 20vh;
    margin-bottom: -2%;
}

#type-writer {
    font-size: 196%;
    color: black;
    font-weight: bolder;
    border-right: 3px solid black;
    padding-left: 1.5%;
}

.social-links {
    display: flex;
    gap: 10%;
    list-style-type: none;
    padding-left: 1.5%;
}

.social {
    font-size: 140%;
}

.social i {
    color: #000;
}

#page-1-line {
    margin-top: 5%;
    margin-left: -15px;
    width: 80%;
    border-bottom: 5px solid black;
}

.fade {
    opacity: 1;
}

section {
    margin: 0 auto;
    width: 75vw;
    height: 100vh;
}

.fixed-position {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform: translateZ(1);
    -webkit-transform: translateZ(1);
}


.section-title h2 {
    color: #000;
    font-family: sans-serif;
    font-size: 750%;
    font-weight: 1000;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #808080, 1px -1px 0 #808080, -1px 1px 0 #808080, 1px 1px 0 #808080;
    letter-spacing: -16.5px;
    margin-top: 3%;
}

.section-heading {
    font-family: monospace, sans-serif;
    font-size: 1.4em;
    color: rgb(196, 196, 196);
    margin-top: 5%;
    margin-bottom: 3%;
}

.section-content {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-family: sans-serif;
    color: rgb(175, 174, 174);
}

#name {
    font-size: 1.7em;
    letter-spacing: normal;
    color: #000;
    font-family: sans-serif;
    font-weight: 1000;
    letter-spacing: 0px;
    animation: flicker-animation 7s infinite alternate;
}

@keyframes flicker-animation {
    0%, 19%, 22%, 23%, 25%, 54%, 56%, 98% {
        text-shadow:
            /* font */
            2px 2px 0 #ffffffc0,
            1px -1px 0 #ffffffc0,
            -1px 1px 0 #ffffffc0,
            2px 2px 0 #ffffffc0,

            /* glow */
            2px 2px 6px #ffffff25,
            1px -1px 6px #ffffff25,
            -1px 1px 6px #ffffff25,
            2px 2px 6px #ffffff25;

    }
    20%, 24%, 26%, 53%, 55%, 99%, 100% {
        text-shadow:
            2px 2px 0 #4E4E4E,
            1px -1px 0 #4E4E4E,
            -1px 1px 0 #4E4E4E,
            2px 2px 0 #4E4E4E;
    }
}

.skills {
    padding-top: 3rem;
}

.skills img {
    padding-right: 2%;
    margin: 0 auto;
}



/* Resume section */
.resume-content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}

.resume__img {
    width: 30vh;
    filter: blur(1px);
}

.resume__img:hover {
    cursor: pointer
}

.resume__click-icon {
    position: absolute;
}

.big-resume-container {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    position: relative;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.512);
}

#resume {
    position: fixed;
}

.resume__img--big {
    position: absolute;
    height: 100vh;
    left: 30vw;
}

.resume-download {
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
}

.resume__img--big:hover {
    cursor: pointer
}


/* Contact Section */
.page-5 p {
    font-size: 1.9vw;
    color: #808080
}

.contacts a {
    color: #808080 !important;
    padding-bottom: 20px;
}

.contacts i {
    font-size: 6.5vw !important;
}

.contacts {
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;
}

.contacts div :hover {
    color: rgb(245, 245, 245) !important;
    text-decoration: none;
}

#contact-box {
    font-family: monospace, sans-serif;
}

.copyright {
    display: flex;
    justify-content: center;
    font-family: monospace, sans-serif;
    font-size: 85%;
    width: 100vw;
    color: grey;
    background-color: transparent;
    margin-bottom: 1%;
}

/* For monitors and larger screens */
@media only screen and (min-width: 1920px) {
    html {
        font-size: 130%;
    }
}

@media only screen and (min-width: 1024px) {
    *:focus {
        border-bottom: dotted grey 3px;
    }
}

@media only screen and (max-width: 768px) {

    section {
        width: 80vw;
    }

    .name-heading {
        font-size: 28vw;
    }

    #type-writer {
        font-size: 5vw;
    }

    .social {
        font-size: 4vw;
        margin-left: 2%;
    }

    #page-1-line {
        margin-top: 10vw;
        margin-left: -20px;
        width: 90%;
    }

    .section-content {
        margin-top: 10vw;
    }

    .skills img {
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .icon-cards__content img {
        width: 80vw !important;
    }

    .icon-cards {
        margin-left: 13vw;
    }

    .section-title h2 {
        font-size: 18vw;
        margin-top: 10vw;
        margin-left: -6vw;
    }

    .big-resume-container {
        height: 100vh;
        width: 100vw;
    }

    .resume__img--big {
        left: 0vw;
        width: 100vw;
    }

    .page-5 p {
        font-size: 3.8vw;
        color: #808080;
        margin-top: 7vw;
    }

    .contacts {
        margin-top: 18vw !important;
    }

    .contacts i {
        font-size: 15vw !important;
    }
}

@media only screen and (max-width: 576px) {
    #scroll-down-indicator {
        top: 85%;
        border: 2px solid #000;
        animation: animateScroll2 1.5s linear infinite;
    }

    @keyframes animateScroll2 {
        0% {
            top: 85%;
        }

        50% {
            top: 86%;
        }

        100% {
            top: 85%;
        }
    }

    section {
        width: 85vw;
    }

    .section-title h2 {
        font-size: 20vw;
        letter-spacing: -11px;
        margin-top: 15vw;
    }

    .name-heading {
        font-size: 28vw;
        margin-top: 10vw;
        margin-left: -1%;
    }

    #name {
        font-size: 2em;
        letter-spacing: normal;
    }

    #type-writer {
        font-size: 8.3vw;
    }

    .social {
        font-size: 7vw;
        margin-left: 2%;
    }

    #page-1-line {
        margin-top: 15vw;
        margin-left: -17px;
        width: 95%;
    }

    .section-content {
        margin-top: 0;
    }

    .section-heading {
        margin-top: 0;
    }

    .skills {
        padding-top: 0.5rem;
    }

    .skills img {
        width: 20vw;
        margin-left: 0;
        margin-bottom: 10%;
    }

    #typescript-skill {
        width: 16vw;
    }

    .icon-cards {
        margin-left: 18vw !important;
    }

    .icon-cards__content img {
        width: 95vw !important;
        height: 29vh;
    }

    .resume__img--big {
        left: 0vw;
        top: 10vh;
        width: 100vw;
        height: 70vh;
    }

    .resume-download {
        font-size: x-large;
        color: white;
        position: absolute;
        top: 20px;
        left: 47vw;
    }    

    .contacts .fa-linkedin {
        margin-left: 6vw !important;
    }

    .contacts .fa-twitter {
        margin-left: 10vw !important;
    }

    .page-5 p {
        font-size: 5vw;
    }

    .contacts span {
        opacity: 0 !important;
    }

    .contacts i {
        padding: 0 !important;
        font-size: 22vw !important;
    }

    .copyright {
        margin-bottom: 3%;
    }
}
