/* ===================================== v2 start ============================================ */

@font-face{
    font-family: monospaceFont;
    src:url(Cousine-Regular.ttf);
}
@font-face {
    font-family: ImpactFont;
    src: url(impact.ttf);
}
@font-face {
    font-family: firaCodeFont;
    src: url(FiraCode-Regular.woff);
}

@font-face {
    font-family: shamberFont;
    src: url(Shamber-ERo4.ttf);
}

body{
    background-color: #000;
    overflow-x: hidden;
}

.page {
    height: 100vh !important;
    margin-bottom: 150vh;
}

.page-1 {
    height: 100vh !important;
    background-color: #fff !important;
    padding-left: 5vw;
}

.name-heading {
    font-size: 1200%;
    color: black;
    font-weight: bold;
    padding-top: 20vh;
    margin-bottom: -2%;
    margin-left: -15px;
}

#type-writer {
    padding-right: 0;
    font-size:196%;
    color: black;
    font-weight: bolder;
    border-right: 3px solid black;
}

.social-links {
    padding: 0;
    list-style-type: none;
    margin-left: -25px;
}
.social{
    font-size: 120% !important;
    margin-left: 0.6%;
    float:left;    
}
.social  i{
color:#000;
}

#page-1-line {
    margin-top: 5%;
    margin-left: -15px;
    width:90%;
    border-bottom: 5px solid black;
}

.fade {
    opacity: 1;
}

section {
    margin: 0 auto !important;
    width: 75vw;
}

.fixed-position {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.section-title{
    display: inline;
}
.section-title h2{
    display: inline;
    color:white !important;
    font-family: sans-serif;
    font-size: 700%;
    font-weight: 1000;
    text-transform: uppercase;
    opacity: 0.12;
}
.section-title small {
    font-size: 20% !important;
}
.section-title h2::after {
    background: #ffffff none repeat scroll 0 0 !important;
    content: "";
    display: table;
    margin: -8px 0px 0px 20px;
    height: 2px;
    position: absolute;
    width: 13%;
}

.section-heading{
    font-family: "monospaceFont", sans-serif;
    font-size: 1.4em;
    color:rgb(196, 196, 196);
    margin-top: 5%;
    margin-bottom: 3%;
}

.section-content{
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-family:  sans-serif;
    color:rgb(175, 174, 174);
}

#name {
    color: rgb(26, 26, 26);
    background-color: rgb(223, 219, 219);
    font-family: ImpactFont, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 1.4em;
}


.skills img{
    padding-right: 2%;
    margin: 0 auto;
}


/* ----------------------------------------Contact---------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}
#contact-box {
    width: 90%;
    box-sizing: border-box;
    background: #000;
    border-radius: 2px;
    margin-top: 1%;
    font-family: "monospaceFont",sans-serif;
}

.right {
    display: inline-block;
    color: rgb(177, 176, 176);
    color:grey;
    font-family: "monospaceFont", sans-serif;
    padding: 30px 0px 0px 200px;
    height: 50%;
}
.right ul{
    padding-left: 0;
    margin-left: 0%;
}
  
.left {
    display: inline-block;
    font-family: "monospaceFont", sans-serif;
    margin-top: 10%;
    width: 20%;
    height: 50%;
  }


.google-maps{
    width: 100%;
    display:block;
    margin-top:2%;
}

.copyright{
    margin-top: 3%;
    font-family: "monospaceFont", sans-serif;
    margin-left: 40%;
    color:grey;
    background-color: black;
}